@using GeneralExamples.Models;
@model IEnumerable<Urun>
@{
    ViewBag.Title = "Index";
}
<style>
    .urun{
        border:1px dashed red;
        padding:10px;
    }
    .urun button{
        display:inline;
    }
    #sepet {
        border:1px solid black;
        padding:10px;
    }
</style>
<h2>YS</h2>

<div class="row">
    <div class="col-md-3">
        <h3>Sepet</h3>
        <div id="sepet"></div>
    </div>
    <div class="col-md-9">
        @foreach(var urun in Model)
        {
            <div class="row urun" >
                <h3>@urun.UrunAd</h3>
                <h4 data-deger="@urun.Fiyat">@urun.Fiyat.ToString("c")</h4>
                <button class="btn btn-default" >Sepete Ekle</button>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        var stored = JSON.parse(localStorage.getItem("sepet"));
        var sepet =  stored == null?{ Urunler: [], Toplam: 0 }:stored;
        PopulateSepet(sepet);
        function PopulateSepet(sepet) {
            if (sepet == undefined)
                return;
            $("#sepet").empty();
            sepet.Urunler.forEach(function (e) {
                var div = $("<div>")
               .append($("<h3>").text(e.YemekAd))
               .append($("<h4>").text(e.YemekFiyat))
               .append($("<button>").text("Kaldır"));

                $("#sepet").append(div);
            });
            
        }
        
        $(".urun button").click(function () {
            var fiyat = parseFloat($(this).prev().data("deger")),
                urunAd = $(this).prev().prev().text();
            var yemek = {
                YemekFiyat: fiyat,
                YemekAd : urunAd
            }
            sepet.Urunler.push(yemek);
            localStorage.setItem("sepet", JSON.stringify(sepet));
            UpdateToplam();
            PopulateSepet(sepet);
        });
        function UpdateToplam() {
            var toplamYemek = sepet.Urunler.reduce(function (prev,current) {
                return { YemekFiyat: prev.YemekFiyat + current.YemekFiyat };
            })
            sepet.Toplam = toplamYemek.YemekFiyat;
            /*
            var toplam = 0;
            for (var i = 0; i < sepet.Urunler.length; ++i) {
                toplam += sepet.Urunler[i].YemekFiyat;

            }
            sepet.Toplam = toplam;
            */
           
        }
    </script>    
}
